{% extends 'account_base.html' %}

{% block title %}
    Login Page-login.html
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
  	<div class="col-lg-3">
    </div>
    <div class="col-lg-8">
		<form action="" method="POST">
            {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag }} : {{ field }}
                </div>
            {% endfor %}
<!--		    {{ form }} -->
		    {% csrf_token %}
		    <p><button class='btn btn-primary btn-group-lg ' type="submit" value="login">SUBMIT</button> </p>
		</form>
	</div>
	<div class="col-lg-3">
	</div>
 </div>
</div>
{% endblock %}